body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
     background: url(../Content/images/colourFest.jpg) no-repeat center center; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 600px;
}

.transparentSlight {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";       /* IE 8 */
    filter: alpha(opacity=90);  /* IE 5-7 */
    -moz-opacity: 0.9;          /* Netscape */
    -khtml-opacity: 0.9;        /* Safari 1.x */
    opacity: 0.9;               /* Good browsers */
    padding: 4px 5px;
}

.transparentMuch {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}

.content {
    background-color: white;
    padding-bottom: 10px;
}

.row {
    padding: 2px;
}

footer p {
    color: white;
}

.menu {
    position: relative;
    text-align: right;
    font-size: 0.7em;
}

.jumbotron.transparentMuch {
    padding-top: 0;
}

.transparentSlight {
    min-height: 350px;
}

.message {
    padding-left: 10px;
    font-style: italic;
}